html, body{
	height: 100%;
	margin: 0px;
	padding: 0px;
}
body{
	background: #ecf0f1;
}
.purpleTop{
	background: #8e44ad;
	height: 70px;
	width: 100%;
	margin: 0px;
}
.redBody{
	background: #c0392b;
	height: 100%;
	width: 70%;
	min-width: 550px;
	margin: auto;
	position: auto;
	padding: 20px;
	text-align: center;

}
.blueContentBlock{
	background: #3498db;
	width: 500px;
	height: auto;
	margin-bottom: 20px;
	display: inline-block;
	text-align: left;

}
.yellowSquare{
	background: #f1c40f;
	width: 100px;
	height: 100px;
	margin: 20px;
	display: inline-block;
	vertical-align: top;
}
.greenBlock{
	background: #27ae60;
	height: 150px;
	width: 320px;
	display: inline-block;
	vertical-align: top;
	margin: 20px 20px 20px 0px;
}