html, body{
	height: 100%;
	margin: 0px;
	padding: 0px;
}
body{
	background: lime; /* to test */
}
.redTop{
	background: #e74c3c;
	height: 60px;
	width: 100%;
	margin: 0px;
}
.blueBody{
	background: #3498db;
	height: 100%;
	width: 33.3%;
	margin: auto;
	float: left;
}
.purpleBody{
	background: #9b59b6;
	height: 100%;
	width: 33.3%;
	margin: auto;
	float: left;
}
.yellowBody{
	background: #f1c40f;
	height: 100%;
	width: 33.4%;
	margin: auto;
	float: left;
}
.bottomGreen{
	background: #2ecc71;
	width: 100%;
	height: 60px;
	position: absolute;
	bottom: 0px;
}