html, body{
	height: 100%;
	margin: 0px;
	padding: 0px;
}
body{
	background: #f1c40f;
}
.redTop{
	background: #e74c3c;
	height: 50px;
	width: 100%;
	margin: 0px;
}
.blueBody{
	background: #3498db;
	height: 100%;
	width: 75%;
	margin: auto;
	position: auto;
}
.bottomGreen{
	background: #27ae60;
	width: 75%;
	height: 50px;
	position: absolute;
	bottom: 0px;
}